@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: hsla(353, 100%, 65%, 0.2);
}
.dark,
[data-theme='dark'] {
  --main-color: hsl(300, 100%, 4%);
  --main-color-wide: hsl(300, 99%, 8%);

  --foreground-color: hsl(25, 90%, 96%);
  --foreground-color-wide: hsl(25, 90%, 70%);
}

.light,
[data-theme='light'] {
  --main-color: hsl(25, 90%, 96%);
  --main-color-wide: hsl(25, 90%, 90%);

  --foreground-color: hsl(300, 100%, 4%);
  --foreground-color-wide: hsl(300, 100%, 20%);
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: inherit;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

::selection {
  background: hsl(0, 91%, 71%);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 91%, 71%);
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--foreground-color);
  z-index: 2;
}
