@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
}

::selection {
  background: hsl(0, 91%, 71%);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 91%, 71%);
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}
